/* #margin {
    margin-right: 80%;

} */

/* .marContainer {
    margin-right: 100px;
} */

/* all colors are based on the homework image.  should I just use my own
css colors and backgrounds? */
/* Background image for the page is all gold coins! */
body {
    background-image: url(../../assets/images/gold2.jpg);
}

/* for crystal collector orange background white letters */
.crystalTitle {
    width: 350px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 115, 0);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* background for the instructions should be beige? and text green */
.sentences {
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: bisque;
    color: green;
}

/* spacing around each sentence. Maybe an easier way to do this */
.break {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* computer numbers should be purple and backround green */
.numbers {
    background-color: green;
    color: purple;
    width: 25%;
    margin: 10px;
    padding-bottom: 80px;
    float: left;
}

/* wins and losses text should stay black and background aqua? */
.scoreboard {
    background-color: aqua;
    width: 15%;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}

/* gems background white */
.gems {
    background-color: white;
    width: 40%;
    margin: 10px;
    padding: 10px;
    clear: both;
}

/* background should be teal with white text */
.userTotal {
    background-color: rgb(1, 100, 131);
    color: white;
    width: 30%;
    margin: 10px;
    padding: 10px;
}

/* background should be teal with white text */
.total {
    background-color: rgb(1, 100, 131);
    color: white;
    width: 30%;
    margin: 10px;
    padding: 10px 0 50px 10px;
}